In [10]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [11]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Parainen,FI,2022-07-23 04:54:42,60.3067,22.3010,68.45,91,71,8.43
1,1,Castro,BR,2022-07-23 04:54:42,-24.7911,-50.0119,55.83,68,32,2.39
2,2,Avarua,CK,2022-07-23 04:54:42,-21.2078,-159.7750,75.25,69,20,9.22
3,3,Rikitea,PF,2022-07-23 04:50:32,-23.1203,-134.9692,72.93,69,10,9.51
4,4,George,ZA,2022-07-23 04:54:43,-33.9630,22.4617,51.35,93,75,11.50

In [12]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [13]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [14]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [24]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
# heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [25]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent wind speeds
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Avarua,CK,2022-07-23 04:54:42,-21.2078,-159.7750,75.25,69,20,9.22
6,6,Kurchum,KZ,2022-07-23 04:54:45,48.5722,83.6542,80.15,27,67,12.21
8,8,Bilma,NE,2022-07-23 04:54:46,18.6853,12.9164,88.05,36,48,5.79
14,14,Georgetown,MY,2022-07-23 04:54:48,5.4112,100.3354,85.98,78,40,5.75
16,16,Morristown,US,2022-07-23 04:54:49,36.2140,-83.2949,77.05,77,75,0.00
17,17,Monrovia,LR,2022-07-23 04:54:50,6.3005,-10.7969,75.74,79,99,7.76
27,27,Kawalu,ID,2022-07-23 04:54:53,-7.3817,108.2082,76.57,85,99,3.44
34,34,South Venice,US,2022-07-23 04:54:56,27.0531,-82.4243,77.99,96,0,6.91
40,40,Yuncheng,CN,2022-07-23 04:54:58,35.0231,110.9928,83.80,47,1,2.98
41,41,Butaritari,KI,2022-07-23 04:54:59,3.0707,172.7902,81.72,77,52,10.69

In [30]:
preferred_cities_df.count()

City_ID       194
City          194
Country       194
Date          194
Lat           194
Lng           194
Max Temp      194
Humidity      194
Cloudiness    194
Wind Speed    194
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2         Avarua      CK     75.25 -21.2078 -159.7750
6        Kurchum      KZ     80.15  48.5722   83.6542
8          Bilma      NE     88.05  18.6853   12.9164
14    Georgetown      MY     85.98   5.4112  100.3354
16    Morristown      US     77.05  36.2140  -83.2949
17      Monrovia      LR     75.74   6.3005  -10.7969
27        Kawalu      ID     76.57  -7.3817  108.2082
34  South Venice      US     77.99  27.0531  -82.4243
40      Yuncheng      CN     83.80  35.0231  110.9928
41    Butaritari      KI     81.72   3.0707  172.7902

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
   # will give error --- >   hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [35]:
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2         Avarua      CK     75.25 -21.2078 -159.7750
6        Kurchum      KZ     80.15  48.5722   83.6542
8          Bilma      NE     88.05  18.6853   12.9164
14    Georgetown      MY     85.98   5.4112  100.3354
16    Morristown      US     77.05  36.2140  -83.2949
17      Monrovia      LR     75.74   6.3005  -10.7969
27        Kawalu      ID     76.57  -7.3817  108.2082
34  South Venice      US     77.99  27.0531  -82.4243
40      Yuncheng      CN     83.80  35.0231  110.9928
41    Butaritari      KI     81.72   3.0707  172.7902

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
#info_box_template = """
#<dl>
#<dt>Name</dt><dd>{column1}</dd>
#<dt>Another name</dt><dd>{column2}</dd>
#</dl>
#"""

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [40]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [42]:
#Next, in the code we used to create the heatmap with markers, 
#add info_box_content=hotel_info to the gmaps.marker_layer() attribute with the locations. 
#Our final cell should look like the following.

In [43]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))